<section class="d-flex">
    <aside class="d-flex flex-column">
        <header class="">
            <img src="../../../assets/images/myra-logo.webp" alt="Myra Logo">
        </header>
        <h1 class="main-text ">
            perfomance<br>
            anywhere
        </h1>
    </aside>
    <main class="d-flex">
        <div  class="card d-flex flex-column align-content-center">
            <img class="minimal-log" src="../../../assets/images/minimal-logo.png" alt="Myra Minimal Logo" srcset="">
            <div [formGroup]="form" class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa-regular fa-user"></i>
                </span>
                <input formControlName="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input formControlName="password" type="password" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            <button class="btn btn-primary" (click)="loginAsync()">Entrar</button>
            <small>Esqueci minha senha</small>
        </div>
    </main>
   <h1></h1>
</section>