<section class="d-flex">
    <aside class="d-flex flex-column">
        <header class="">
            <img src="../../../assets/images/myra-logo.webp" alt="Myra Logo">
        </header>
        <h1 class="main-text ">
            perfomance<br>
            anywhere
        </h1>
    </aside>
    <main class="d-flex">
        <div class="card d-flex flex-column align-content-center">
            <img class="minimal-log" src="../../../assets/images/minimal-logo.png" alt="Myra Minimal Logo" srcset="">
            <input type="text">
            <input type="text">

            <button class="btn btn-primary">Entrar</button>
            <small>Esqueci minha senha</small>
        </div>
    </main>
   <h1></h1>
</section>